<section class="abtme">
    <div class="abtme-content">
        <div class="abtme-content-inner">
            <h2>About me</h2>
            <hr>
            <p>
                I am a master's student in Astronomy at the Department of Astronomy (DAS) of Universidad de Chile. I do
                research in galaxy evolution, but I am particularly interested in the physics of galaxies in the first
                billion-years from the Big-Bang. Click the button below to know more about my research!
            </p>
        </div>
    </div>
</section>
