<section class="abtme">
    <div class="abtme-content">
        <div class="abtme-content-inner">
            <h2>About me</h2>
            <hr>
            <p>
                I am a master's student in Astronomy at the Department of Astronomy (DAS) of Universidad de Chile. I do
                research in galaxy evolution, but I am particularly interested in the physics of galaxies in the first
                billion-years from the Big-Bang.
            </p>

            <p>
                I am also a huge enthusiastic outside academy. I like teaching and I have been involved in several public
                activities on outreach. We have a tremendous amount of knowledge waiting to be shared with people. 
                <i>Non communicated science is not science!</i> 
            </p>

            <p>
                I love to do a lot of things, from sharing with friends, to some sports, and even board games like chess.
                But what I like above almost everything is to spend time with my three little cats.
            </p>
        </div>
    </div>
</section>
