<section class="abtme" id="aboutme">
    <div class="abtme-content">
        <div class="abtme-content-inner">
            <h2>About me</h2>
            <hr>
            <p>
                I am a Ph.D. student in Astrophysics at the Institute of Science and Techonolgy Austria (ISTA),
                primarily focused on the physics of galaxies at the first billion years after the Big-Bang.
                I am a MSc from the Astronomy Department of Universidad de Chile (<a href="https://das.uchile.cl">DAS</a>);
                former member of the <a href="https://sochias.cl/tiempo-de-observacion/lista-blanca/">
                SOCHIAS Whitelist</a> which gives access to world class ground-based telescopes through the Chilean Telescope
                Allocation Committee (<a href="https://das.uchile.cl/cntac/">CNTAC</a>); and former associated scientist
                at the Center for Astrophysics and Associated Tecnologies (<a href="https://cata.cl">CATA</a>).
                I am also a huge enthusiastic outside academy. I love teaching, and I have been involved in several
                science communication events for all public. I believe we have a tremendous amount of knowledge awaiting
                to be shared with people: <i>Non communicated science is not science!</i> 
                Below you can find some pics of some of the cutest members of mi family!
            </p>
        </div>
    </div>
</section>
