<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About me</h2>
                <hr class="light">
                <p class="text-faded">
                    I am a master's student in Astronomy at the Department of Astronomy (DAS) of Universidad de Chile. I do
                    research in galaxy evolution, but I am particularly interested in the physics of galaxies in the first
                    billion-years from the Big-Bang. Click the button below to know more about my research!
                </p>
                <a href="#" class="btn btn-default btn-xl">More on research.</a>
                <p>

                </p>
                <p class="text-faded">
                    I am also a huge enthusiastic outside academy. I like teaching and I have been involved in several public
                    activities on outreach. We have a tremendous amount of knowledge waiting to be shared with people. For me,
                    <i>non communicated science is not science!</i> 
                </p>
                <a href="#" class="btn btn-default btn-xl">More on teaching & outreach.</a>
                
            </div>
        </div>
    </div>
</section>
