<section class="rsrch3" id="research3">
    <div class="rsrch3-content">
        <div class="rsrch3-content-inner">
            <h1>Current Research</h1>
            <hr>
            <p>
                I am currently investigating the properties of high redshift galaxies through local
                analogs. Local analogs are relatively young, nearby galaxies whose conditions resemble
                the early Universe. These are widely studied to unveil the behavior of distant galaxies
                since, in principle, they should present a similar laboratory.
            </p>
            <p>
                There are several types of local analogs. In this particular case, I am studying nearby
                SDSS star-forming galaxies selected to assimilate galaxies at z ~ 2.3 to disentangle the
                relations between strong emission line ratios and metallicity. These relations have a huge
                scatter in literature and are quite uncertain when applied to high redshift galaxies. My
                study is an effort to shed light into those relations using high quality data gathered with
                the optical Magellan/MagE spectrograph at Las Campanas Observatory.
            </p>
        </div>
    </div>
</section>
