<section class="rsrch3" id="research3">
    <div class="rsrch3-content">
        <div class="rsrch3-content-inner">
            <h1>Current Research</h1>
            <hr>
            <p>
                From the Big-Bang to the dark ages, the physical evolution of the Universe is
                well understood through theories. However, with the birth of the first stars and
                galaxies, all the neutral baryonic material begins to ionize until the entire
                Universe became hot in what is called the "Epoch of Reionization".
            </p>
            <p>
                There are several efforts to explain both observationally and theoretically how
                the Universe got ionized, but still there is no agreement on this topic. There
                seems to be a source or a mechanism of ionization that we are missing, hiding 
                the secret of the Reionization Era. My goal is to unveil this secret through 
                extensive studies on observations of early galaxies.
            </p>
        </div>
    </div>
</section>
