<section class="no-padding">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a class="research-box">
                    <img src="img/research/xviii_sochias.jpg" class="img-responsive" alt="">
                    <div class="research-box-caption">
                        <div class="research-box-caption-content">
                            <div class="project-category text-faded">
                                Mar 13-16th, 2023
                            </div>
                            <div class="project-name">
                                XVIII SOCHIAS Annual Meeting
                            </div>
                            <p class="text-faded">
                                Poster presentation on local analogs of high-z galaxies at the Frontier University
                                (UFRO, Temuco, Chile).
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="research-box">
                    <img src="img/research/cata3.jpg" class="img-responsive" alt="">
                    <div class="research-box-caption">
                        <div class="research-box-caption-content">
                            <div class="research-category text-faded">
                                Nov 18th, 2022
                            </div>
                            <div class="project-name">
                                CATA Area 3 Workshop
                            </div>
                            <p class="text-faded">
                                Oral presentation <i>Metallicity of Magellan/MagE local analogs</i> of my thesis
                                project at the CATA division of galaxy evolution at the Diego Portales University (UDP).
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.cosmos.esa.int/web/euclid-galaxy-evolution/home" class="research-box">
                    <img src="img/research/euclid_workshop.jpg" class="img-responsive" alt="">
                    <div class="research-box-caption">
                        <div class="research-box-caption-content">
                            <div class="project-category text-faded">
                                Oct 25-28th, 2022
                            </div>
                            <div class="project-name">
                                Euclid Galaxy evolution Workshop
                            </div>
                            <p class="text-faded">
                                Online attendance to the hybrid ESA Euclid Galaxy evolution Workshop. Click here to
                                visit the workshop website.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/research/poster_postgrad_congress.pdf" class="research-box">
                    <img src="img/research/congresofcfm.jpg" class="img-responsive" alt="">
                    <div class="research-box-caption">
                        <div class="research-box-caption-content">
                            <div class="project-category text-faded">
                                Aug 10-12th, 2022
                            </div>
                            <div class="project-name">
                                I FCFM Postgrad Congress of Science, Engineering and Innovation
                            </div>
                            <p class="text-faded">
                                Contribution with a poster on my thesis project in spanish at the first ediction of
                                the FCFM Postgrad Congress. Click here to see the poster.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://science-and-commit.github.io" class="research-box">
                    <img src="img/research/luanmortal.jpg" class="img-responsive" alt="">
                    <div class="research-box-caption">
                        <div class="research-box-caption-content">
                            <div class="project-category text-faded">
                                Mar 29th - Apr 1st, 2022
                            </div>
                            <div class="project-name">
                                Science & Commit
                            </div>
                            <p class="text-faded">
                                Attendance to the <i>Science & Commit</i> workshop on python and github programming
                                for chilean astronomy students, organized by students from the DAS department. Click
                                to visit the workshop website!
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://sites.google.com/view/xvii-sochias-meeting/home?authuser=0" class="research-box">
                    <img src="img/research/sochiaslogo.jpg" class="img-responsive" alt="">
                    <div class="research-box-caption">
                        <div class="research-box-caption-content">
                            <div class="project-category text-faded">
                                Jan 17-21th, 2022
                            </div>
                            <div class="project-name">
                                XVII SOCHIAS Annual Meeting
                            </div>
                            <p class="text-faded">
                                Presented my talk: <i>Metallicities of local analogs of high-z galaxies</i> on my future
                                master's thesis. Click to check the conference program.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://sochias.cl/reunion2020/program/" class="research-box">
                    <img src="img/research/sochiaslogo.jpg" class="img-responsive" alt="">
                    <div class="research-box-caption">
                        <div class="research-box-caption-content">
                            <div class="project-category text-faded">
                                Dec 9-11th, 2020
                            </div>
                            <div class="project-name">
                                XVI SOCHIAS Annual Meeting
                            </div>
                            <p class="text-faded">
                                Poster presentation of the paper on sunspots (see publications below). Click here to check
                                the program.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
