<section class="teaching">
    <div class="teaching-content">
        <div class="teaching-content-inner">
            <h2>2022</h2>
            <hr>
            <p>
                First semester
            </p>
            <ul>
                <li>Astrophysics of Galaxies</li>
                <li>Experimental Methods</li>
            </ul>
            <p>
                Second semester
            </p>
            <ul>
                <li>Astrophysics of Galaxies</li>
                <li>Electromagnetism</li>
            </ul>
        </div>
        <div class="teaching-content-inner">
            <h2>2021</h2>
            <hr>
            <p>
                First semester
            </p>
            <ul>
                <li>Experimental Methods</li>
            </ul>
            <p>
                Second semester
            </p>
            <ul>
                <li>Astrophysics of Galaxies</li>
                <li>Electromagnetism</li>
            </ul>
        </div>
        <div class="teaching-content-inner">
            <h2>2020</h2>
            <hr>
            <p>
                First semester
            </p>
            <ul>
                <li>Experimental Methods</li>
            </ul>
            <p>
                Second semester
            </p>
            <ul>
                <li>Numerical Methods for Science & Engineering</li>
            </ul>
        </div>
    </div>
</section>