<section class="no-padding">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a class="outreach-box">
                    <img src="img/outreach/colegio_rauli_ptealto.jpg" class="img-responsive" alt="">
                    <div class="outreach-box-caption">
                        <div class="outreach-box-caption-content">
                            <div class="project-category text-faded">
                                Sep 29th, 2023
                            </div>
                            <div class="project-name">
                                Astronomy: The window to the Universe
                            </div>
                            <p class="text-faded">
                                I gave three talks in a row at the school Colegio Rauli in Puente Alto for different
                                groups of high school students. The talks were about what is astronomy, what astronomers do,
                                where and how they work, the Chilean scenario, and the areas of research. It was a great
                                experience in such a remote and vulnerable school. A lot of interesting questions from
                                students and professors.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="outreach-box">
                    <img src="img/outreach/bh_clash.jpg" class="img-responsive" alt="">
                    <div class="outreach-box-caption">
                        <div class="outreach-box-caption-content">
                            <div class="project-category text-faded">
                                Aug 5th, 2023
                            </div>
                            <div class="project-name">
                                Black Hole Clash
                            </div>
                            <p class="text-faded">
                                Online outreach talk about how black holes clash and merge in the context of
                                Children's day. More than 29k viewers in this huge online event organized by
                                CATA.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="outreach-box">
                    <img src="img/outreach/cata_outr_meeting.jpg" class="img-responsive" alt="">
                    <div class="outreach-box-caption">
                        <div class="outreach-box-caption-content">
                            <div class="project-category text-faded">
                                Jul 4th, 2023
                            </div>
                            <div class="project-name">
                                CATA Outreach Team Meeting
                            </div>
                            <p class="text-faded">
                                I attended the first meeting of the team of scientific divulgation from the CATA. We had a 
                                nice journey through outreach experiences, workshops, and tips to learn the good way to 
                                communicate science to everyone.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="outreach-box">
                    <img src="img/outreach/heritage_day_2.jpg" class="img-responsive" alt="">
                    <div class="outreach-box-caption">
                        <div class="outreach-box-caption-content">
                            <div class="project-category text-faded">
                                May 27th, 2023
                            </div>
                            <div class="project-name">
                                Heritage Day at DAS
                            </div>
                            <p class="text-faded">
                                I participated again in the 2023 version of the Heritage Day activities
                                organized at the DAS. This time I gave a talk titled <i>The Universe is no longer as it was</i>,
                                about how our cosmovision of the Universe has changed from the geocentric
                                theories to the new discoverments with the JWST.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.explora.cl/rmsurponiente/comuna-de-san-pedro-el-compromiso-por-la-descentralizacion-de-la-ciencia/" class="outreach-box">
                    <img src="img/outreach/sanpedrocata.jpg" class="img-responsive" alt="">
                    <div class="outreach-box-caption">
                        <div class="outreach-box-caption-content">
                            <div class="project-category text-faded">
                                March 29th, 2023
                            </div>
                            <div class="project-name">
                                Make your own comet! pt. 2
                            </div>
                            <p class="text-faded">
                                We went to an extremely remote rural village called San Pedro in the Santiago Metropoilitan
                                Region to make the <i>Make your own comet!</i> workshop to kids from those schools. The people
                                was from very low class and have very poor conditions, so we were delighted to share some
                                astronomy with them. Click here to see the press release on this activity.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://www.startres.net" class="outreach-box">
                    <img src="img/outreach/make_your_comet.jpg" class="img-responsive" alt="">
                    <div class="outreach-box-caption">
                        <div class="outreach-box-caption-content">
                            <div class="project-category text-faded">
                                Dec 11th, 2022
                            </div>
                            <div class="project-name">
                                Make your own comet!
                            </div>
                            <p class="text-faded">
                                <i>Make your own comet!</i> is a workshop done for kids initially created by StarTres,
                                but modified and incorporated by the outreach team at DAS. We went to a Star Wars tematic
                                fair to offer the workshop to kids, where they could build their own comet using materials
                                you can find at home, while they learn about comets, their shape and composition. Click
                                in this box to visit the StarTres Website.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="outreach-box">
                    <img src="img/outreach/cec.jpg" class="img-responsive" alt="">
                    <div class="outreach-box-caption">
                        <div class="outreach-box-caption-content">
                            <div class="project-category text-faded">
                                Dec 9th, 2022
                            </div>
                            <div class="project-name">
                                Galaxy Clash
                            </div>
                            <p class="text-faded">
                                This was a new talk I made to explain about galaxies, the different types, composition, and
                                physical properties. The talk ends with an overview of what will happen when the Milky Way
                                and the Andromeda galaxy collide. I gave this talk at the CEC school, which is the school
                                where I did my primary and secondary studies. I got very emotional by this, because I
                                brought astronomy to a very poor school, with students from vulnerable zones.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.explora.cl/rmsuroriente/con-actividades-presenciales-y-una-emotiva-ceremonia-culmino-el-congreso-regional-explora-rm-sur-oriente-2022/" class="outreach-box">
                    <img src="img/outreach/explora_rmso.jpg" class="img-responsive" alt="">
                    <div class="outreach-box-caption">
                        <div class="outreach-box-caption-content">
                            <div class="project-category text-faded">
                                Nov 4th, 2022
                            </div>
                            <div class="project-name">
                                Regional Congress of School Research and Innovation
                            </div>
                            <p class="text-faded">
                                I took part of the scientific evaluator committee in the Regional Congress of School Research and
                                Innovation organized by the Explora RM program, where high-school students from the south-east side
                                of the Santiago Metropolitan Region presented their science/innovation project they were working on
                                along with their teachers during 2022. It was inspiring to see such young ethusiast caring about 
                                problems concerning their surrounding environment, from social problems to even climatics. Click the
                                box to see the press release on this activity.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="outreach-box">
                    <img src="img/outreach/heritage_day.jpg" class="img-responsive" alt="">
                    <div class="outreach-box-caption">
                        <div class="outreach-box-caption-content">
                            <div class="project-category text-faded">
                                May 29th, 2022
                            </div>
                            <div class="project-name">
                                Heritage Day at the National Astronomical Observatory
                            </div>
                            <p class="text-faded">
                                The DAS makes huge events every year for the cultural heritage day. As we came back from 
                                lockdown in 2022, we reopen the observatory to the public, giving talks and showing them
                                the telescopes, observations carried with them, and the history of the observatory and
                                astronomy department.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="outreach-box">
                    <img src="img/outreach/thomas_morus.jpg" class="img-responsive" alt="">
                    <div class="outreach-box-caption">
                        <div class="outreach-box-caption-content">
                            <div class="project-category text-faded">
                                March 24th, 2022
                            </div>
                            <div class="project-name">
                                Interstellar Trips: Final Form
                            </div>
                            <p class="text-faded">
                                Here I gave the last version of this talk at the Sankt Thomas Morus german school in Providencia,
                                Santiago, Chile. At this point, I redesigned the presentation to make it more visually friendly
                                and presented in front of students of different ages (5 & 6th grade and 3 & 4th year high school).
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="outreach-box">
                    <img src="img/outreach/pocuro.jpg" class="img-responsive" alt="">
                    <div class="outreach-box-caption">
                        <div class="outreach-box-caption-content">
                            <div class="project-category text-faded">
                                Jan 22th, 2022
                            </div>
                            <div class="project-name">
                                AstroSummer at Calle Larga, Valparaíso
                            </div>
                            <p class="text-faded">
                                This was my first in-person talk. It was in the Pocuro Observatory located in Calle larga,
                                Valparaíso, Chile. I gave the Interstellar Trips talk and with other astronomers, we carried
                                a workshop for kids on how to build your own nebula, teaching about the properties and types
                                of nebulae existing in the Universe.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://das.uchile.cl" class="outreach-box">
                    <img src="img/outreach/venus.jpg" class="img-responsive" alt="">
                    <div class="outreach-box-caption">
                        <div class="outreach-box-caption-content">
                            <div class="project-category text-faded">
                                Aug 28th, 2021
                            </div>
                            <div class="project-name">
                                Venus: Our Hot Neighbor
                            </div>
                            <p class="text-faded">
                                During the winter break of 2021, the DAS organized an online marathon of astronomical
                                talks. We prepared talks on all the Solar System bodies. I talked about Venus, giving
                                insights to how this planet is, its significance, and importance in night sky and space
                                exploration. Click the box to go to the DAS website.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="outreach-box">
                    <img src="img/outreach/intertrips1.jpg" class="img-responsive" alt="">
                    <div class="outreach-box-caption">
                        <div class="outreach-box-caption-content">
                            <div class="project-category text-faded">
                                May 30th, 2021
                            </div>
                            <div class="project-name">
                                Interstellar Trips: First Light
                            </div>
                            <p class="text-faded">
                                This was my first talk, done online for the cultural heritage day during the pandemic. I 
                                developed the talk to speak about exoplanet research to kids, and show them how difficult
                                is to go visit new worlds. The takeaway message of the talk, is there is no planet B.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="outreach-box">
                    <img src="img/outreach/feria_antukuyen.jpg" class="img-responsive" alt="">
                    <div class="outreach-box-caption">
                        <div class="outreach-box-caption-content">
                            <div class="project-category text-faded">
                                2019
                            </div>
                            <div class="project-name">
                                V Science Fair at "Colegio Sagrados Corazones de Manquehue"
                            </div>
                            <p class="text-faded">
                                This was the second of all outreach activity I have done. We went to a school 
                                at Vitacura called "Colegio Sagrados Corazones de Manquehue", where we exposed
                                a bunch of physics and astronomy experiments in the V edition of their fair of
                                science and sustainable innovation.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
