<section class="no-padding">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a class="research-box">
                    <img src="img/research/metals2023.jpg" class="img-responsive" alt="">
                    <div class="research-box-caption">
                        <div class="research-box-caption-content">
                            <div class="project-category text-faded">
                                Nov 13-17th, 2023
                            </div>
                            <div class="project-name">
                                Metals 2023, ESO
                            </div>
                            <p class="text-faded">
                                I attended the second edition "Metal Production and Distribution in a
                                Hierarchical Universe – II" organized by ESO at Vitacura, Chile. I gave a talk
                                about the work I am doing regarding the gas-phase metallicity of local analogs
                                of high-z galaxies and show some of the results.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="research-box">
                    <img src="img/research/imprs-hd.jpg" class="img-responsive" alt="">
                    <div class="research-box-caption">
                        <div class="research-box-caption-content">
                            <div class="project-category text-faded">
                                Sep 4-9th, 2023
                            </div>
                            <div class="project-name">
                                IMPRS-HD Summer School 2023
                            </div>
                            <p class="text-faded">
                                I attended the summer school of the International Max-Planck Research School on "Unraveling
                                Galaxy Evolution with the JWST" in its version of 2023. We learnt about all the
                                details of this new and revolutionary space telescope, the capabilities of its instruments, and
                                how to prepare our own observations, proposals and data reduction. Also, we had world class lectures
                                on how JWST can be used to probe from the small scale details in nearby galaxies to the very high 
                                redshift Universe.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="research-box">
                    <img src="img/research/cata_logo.jpg" class="img-responsive" alt="">
                    <div class="research-box-caption">
                        <div class="research-box-caption-content">
                            <div class="project-category text-faded">
                                Aug 1-3th, 2023
                            </div>
                            <div class="project-name">
                                II CATA Annual Meeting
                            </div>
                            <p class="text-faded">
                                I attended the second edition of the CATA Annual Meeting where all the members
                                (Academics, students, engineers, etc) get together to report all the progress
                                done by the center, and define the guidelines for the future.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="research-box">
                    <img src="img/research/lascampanas.jpg" class="img-responsive" alt="">
                    <div class="research-box-caption">
                        <div class="research-box-caption-content">
                            <div class="project-category text-faded">
                                Jun 12-13th, 2023
                            </div>
                            <div class="project-name">
                                Observation Run at Las Campanas Observatory
                            </div>
                            <p class="text-faded">
                                We won two night of observation in Las Campanas Observatory. It was my first time flying and being in
                                a world class observatory. I learned a lot about the observations, how everything works at the top of
                                the mountains, and I had the opportunity to gather optical an near-IR spectra of more galaxies that
                                will be part of my masters' thesis. One of the best experiences I have had in astronomy so far.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="research-box">
                    <img src="img/research/eso_intern.jpg" class="img-responsive" alt="">
                    <div class="research-box-caption">
                        <div class="research-box-caption-content">
                            <div class="project-category text-faded">
                                Feb 15th - May 6th, 2023
                            </div>
                            <div class="project-name">
                                ESO Internship
                            </div>
                            <p class="text-faded">
                                I did a 2.5 month science internship at ESO in Vitacura, Chile. With my supervisor there, Belén 
                                Alcalde-Pampliega, we studied the morphology and physical properties of galaxies at z ~ 1 to
                                z ~ 10, using deep imaging of JWST/NIRcam and complement archival data from past surveys
                                (HST, Spitzer, ALMA, etc).
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.sochiasmeetings.cl/home" class="research-box">
                    <img src="img/research/xviii_sochias.jpg" class="img-responsive" alt="">
                    <div class="research-box-caption">
                        <div class="research-box-caption-content">
                            <div class="project-category text-faded">
                                Mar 13-16th, 2023
                            </div>
                            <div class="project-name">
                                XVIII SOCHIAS Annual Meeting
                            </div>
                            <p class="text-faded">
                                Poster presentation on local analogs of high-z galaxies at the Frontier University
                                (UFRO, Temuco, Chile).
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="research-box">
                    <img src="img/research/cata3.jpg" class="img-responsive" alt="">
                    <div class="research-box-caption">
                        <div class="research-box-caption-content">
                            <div class="project-category text-faded">
                                Nov 18th, 2022
                            </div>
                            <div class="project-name">
                                CATA Area 3 Workshop
                            </div>
                            <p class="text-faded">
                                Oral presentation <i>Metallicity of Magellan/MagE local analogs</i> of my thesis
                                project at the CATA division of galaxy evolution at the Diego Portales University (UDP).
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.cosmos.esa.int/web/euclid-galaxy-evolution/home" class="research-box">
                    <img src="img/research/euclid_workshop.jpg" class="img-responsive" alt="">
                    <div class="research-box-caption">
                        <div class="research-box-caption-content">
                            <div class="project-category text-faded">
                                Oct 25-28th, 2022
                            </div>
                            <div class="project-name">
                                Euclid Galaxy Evolution Workshop
                            </div>
                            <p class="text-faded">
                                Online attendance to the hybrid ESA Euclid Galaxy evolution Workshop. Click here to
                                visit the workshop website.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/research/poster_postgrad_congress.pdf" class="research-box">
                    <img src="img/research/congresofcfm.jpg" class="img-responsive" alt="">
                    <div class="research-box-caption">
                        <div class="research-box-caption-content">
                            <div class="project-category text-faded">
                                Aug 10-12th, 2022
                            </div>
                            <div class="project-name">
                                I FCFM Postgrad Congress of Science, Engineering and Innovation
                            </div>
                            <p class="text-faded">
                                Contribution with a poster on my thesis project in spanish at the first ediction of
                                the FCFM Postgrad Congress. Click here to see the poster.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://science-and-commit.github.io" class="research-box">
                    <img src="img/research/luanmortal.jpg" class="img-responsive" alt="">
                    <div class="research-box-caption">
                        <div class="research-box-caption-content">
                            <div class="project-category text-faded">
                                Mar 29th - Apr 1st, 2022
                            </div>
                            <div class="project-name">
                                Science & Commit
                            </div>
                            <p class="text-faded">
                                Attendance to the <i>Science & Commit</i> workshop on python and github programming
                                for chilean astronomy students, organized by students from the DAS department. Click
                                to visit the workshop website!
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://sites.google.com/view/xvii-sochias-meeting/home?authuser=0" class="research-box">
                    <img src="img/research/sochiaslogo.jpg" class="img-responsive" alt="">
                    <div class="research-box-caption">
                        <div class="research-box-caption-content">
                            <div class="project-category text-faded">
                                Jan 17-21th, 2022
                            </div>
                            <div class="project-name">
                                XVII SOCHIAS Annual Meeting
                            </div>
                            <p class="text-faded">
                                Presented my talk: <i>Metallicities of local analogs of high-z galaxies</i> on my future
                                master's thesis. Click to check the conference program.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://sochias.cl/reunion2020/program/" class="research-box">
                    <img src="img/research/sochiaslogo.jpg" class="img-responsive" alt="">
                    <div class="research-box-caption">
                        <div class="research-box-caption-content">
                            <div class="project-category text-faded">
                                Dec 9-11th, 2020
                            </div>
                            <div class="project-name">
                                XVI SOCHIAS Annual Meeting
                            </div>
                            <p class="text-faded">
                                Poster presentation of the paper on sunspots (see publications below). Click here to check
                                the program.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
