<section>
    <div class="container text-center">
        <div class="col-lg-6 text-center papers">
            <h1>2022</h1>
            <hr>
            <h2>First Semester</h2>
            <ul>
                <li>Astrophysics of Galaxies</li>
                <li>Experimental Methods</li>
            </ul>
            <h2>Second Semester</h2>
            <ul>
                <li>Astrophysics of Galaxies</li>
                <li>Electromagnetism</li>
            </ul>
        </div>
        <div class="col-lg-6 text-center papers">
            <h1>2021</h1>
            <hr>
            <h2>First Semester</h2>
            <ul>
                <li>Experimental Methods</li>
            </ul>
            <h2>Second Semester</h2>
            <ul>
                <li>Astrophysics of Galaxies</li>
                <li>Electromagnetism</li>
            </ul>
        </div>
        <hr>
        <div class="col-lg-6 text-center papers">
            <h1>2020</h1>
            <hr>
            <h2>First Semester</h2>
            <ul>
                <li>Experimental Methods</li>
            </ul>
            <h2>Second Semester</h2>
            <ul>
                <li>Numerical Methods for Science & Engineering</li>
            </ul>
        </div>
    </div>
</section>