<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-6 col-sm-12">
                <a class="portfolio-box">
                    <img src="img/portfolio/cata3.jpeg" class="port-img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Nov 18th, 2022
                            </div>
                            <div class="project-name">
                                CATA Area 3 Workshop
                            </div>
                            <p>
                                Oral presentation <i>Metallicity of Magellan/MagE local analogs</i> of my thesis
                                project at the CATA division of galaxy evolution at the Diego Portales University (UDP).
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-sm-12">
                <a class="portfolio-box">
                    <img class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Oct 25-28th, 2022
                            </div>
                            <div class="project-name">
                                Euclid Galaxy evolution Workshop
                            </div>
                            <p>
                                Online attendance to the hybrid ESA Euclid Galaxy evolution Workshop.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-sm-12">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/postgrad_congress.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Aug 10-12th, 2022
                            </div>
                            <div class="project-name">
                                I FCFM Postgrad Congress of Science, Engineering and Innovation
                            </div>
                            <p>
                                Contribution with a poster on my thesis project in spanish at the first ediction of
                                the FCFM Postgrad Congress. 
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-sm-12">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/Luan_mortal.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Mar 29th - Apr 1st, 2022
                            </div>
                            <div class="project-name">
                                Science & Commit
                            </div>
                            <p>
                                Attendance to the <i>Science & Commit</i> workshop on python and github programming
                                for chilean astronomy students, organized by students from the DAS department.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-sm-12">
                <a href="#" class="portfolio-box">
                    <img class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Jan 17-21th, 2022
                            </div>
                            <div class="project-name">
                                XVII SOCHIAS Annual Meeting
                            </div>
                            <p>
                                Presented my talk: <i>Metallicities of local analogs of high-z galaxies</i> on my future
                                master's thesis.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-sm-12">
                <a href="#" class="portfolio-box">
                    <img class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Dec 9-11th, 2020
                            </div>
                            <div class="project-name">
                                XVI SOCHIAS Annual Meeting
                            </div>
                            <p>
                                Poster presentation of the paper on sunspots (see publications below).
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
