<section id="publications">
    <div class="container text-center">
        <div class="col-lg-12 text-center papers">
            <ol>
                <li>
                    <a href="https://iopscience.iop.org/article/10.3847/1538-4357/ac133b">Solar Anti-Hale 
                        Bipolar Magnetic Regions: A Distinct Population with Systematic Properties.
                    </a>
                    <p>
                        A. Muñoz-Jaramillo, <b>B. Navarrete</b>, & L. Campusano. <i>ApJ</i>, 920, 31, 2021.
                    </p>
                </li>
            </ol>
        </div>
    </div>
</section>